.cabecalho {
  height: 225px;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.background {
  background-color: #262626;
}

.color_status_vivo {
  margin-top: 7px;
  position: absolute;
  border-radius: 999999px;
  background-color: #62EC52;
  border: 1px solid #62EC52;
  width: 10px;
  height: 10px;
}

.color_status_desconhecido {
  margin-top: 6px;
  position: absolute;
  border-radius: 999999px;
  background-color: gray;
  border: 1px solid gray;
  width: 10px;
  height: 10px;
}

.color_status_morto {
  margin-top: 6px;
  position: absolute;
  border-radius: 999999px;
  background-color: red;
  border: 1px solid red;
  width: 10px;
  height: 10px;
}

#footer-index {
  height: 250px;
  background-color: #1F2821;
}

.cor1 {
  color: #4D9F4B;
}

#h1-title {
  color: #0F5717;
}

.imagem-personagem {
   width: 100%; 
}

.tamanho-card {
  width: 75%;
}

.sombra_card_status_vivo:hover {
  box-shadow: 10px 10px 10px #4D9F4B;
}

.sombra_card_status_morto:hover {
  box-shadow: 10px 10px 10px red;
}

.sombra_card_status_desconhecido:hover {
  box-shadow: 10px 10px 10px gray;
}

.botao-paginacao {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #105718;
  --bs-pagination-bg: var(--bs-body-bg);
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: #4D9F4B;
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: white;
  --bs-pagination-hover-bg: #4D9F4B;
  --bs-pagination-hover-border-color: #105718;
  --bs-pagination-focus-color: #4D9F4B;
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem #105718;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #105718;
  --bs-pagination-active-border-color: var(--bs-secondary-color);
  --bs-pagination-disabled-color: var(--bs-secondary-color);
  --bs-pagination-disabled-bg: var(--bs-secondary-bg);
  --bs-pagination-disabled-border-color: var(--bs-border-color);
  display: flex;
  padding-left: 0;
  list-style: none;
}
 
.btn-padrao {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #105718;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-border-color: #4D9F4B;
} 

.roll-in-left {
  -webkit-animation: roll-in-left 0.5s ease-in;
  animation: roll-in-left 0.5s ease-in;
}

@-webkit-keyframes roll-in-left {
  0% {
      -webkit-transform: translateX(-200px) rotate(-100deg);
      transform: translateX(-200px) rotate(-100deg);
      opacity: 0;
  }

  100% {
      -webkit-transform: translateX(0) rotate(0deg);
      transform: translateX(0) rotate(0deg);
      opacity: 1;
  }
}

@keyframes roll-in-left {
  0% {
      -webkit-transform: translateX(-100px) rotate(-100deg);
      transform: translateX(-100px) rotate(-100deg);
      opacity: 0;
  }

  100% {
      -webkit-transform: translateX(0) rotate(0deg);
      transform: translateX(0) rotate(0deg);
      opacity: 1;
  }
}

.pulsate-fwd:hover {
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both;
} 

@-webkit-keyframes pulsate-fwd {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }

  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
} 
 
@keyframes pulsate-fwd {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  50% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
} 

.puff-in-center {
  -webkit-animation: puff-in-center 0.5s cubic-bezier(0.500, 0.000, 0.750, 0.700) both;
  animation: puff-in-center 0.5s cubic-bezier(0.500, 0.000, 0.750, 0.700) both;
}

@-webkit-keyframes puff-in-center {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(6px);
      filter: blur(6px);
      opacity: 0;
  }

  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
  }

  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
  }
}


.tracking-in-expand-fwd-top {
  -webkit-animation: tracking-in-expand-fwd-top 0.5s alternate;
  animation: tracking-in-expand-fwd-top 0.5s alternate;
}


@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
      letter-spacing: -0.3em;
      -webkit-transform: translateZ(-500px) translateY(-300px);
      transform: translateZ(-500px) translateY(-300px);
      opacity: 0;
  }

  40% {
      opacity: 0.8;
  }

  100% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd-top {
  0% {
      letter-spacing: -0.3em;
      -webkit-transform: translateZ(-500px) translateY(-300px);
      transform: translateZ(-500px) translateY(-300px);
      opacity: 0;
  }

  40% {
      opacity: 0.8;
  }

  100% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      opacity: 1;
  }
}