
.bg-image {
  background-image: url(../../assets/images/FUNDO_2.jpg);
  background-size: cover;       
  background-position: center;  
  height: 100vh;               
}

#h1-title {
  color: #0F5717;
  
}